h1 {
  font-size: 3m;
  text-shadow: -3px -3px 3px gray;
}
p {
  color: gray;
  font-style: italic;
  padding: 0px;
  margin-bottom: 0px;
}

.header {
  border-bottom: 1px solid gray;
  padding-bottom: 0px;
}

.navbar-nav a:hover {
  color: yellow;
} /* Only for snippet */
.double-nav .breadcrumb-dn {
  color: #fff;
}
.navbar {
  background-color: #a82424;
}
.view {
  /* background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")
    no-repeat center center; */
  background-size: cover;
  background-color: #a82424;
}
html,
body,
header,
.view {
  height: 100%;
}
